__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

uploaded_files/
static/user_photo/
static/shop_photo/
static/product_photo/

.DS_Store
